*{box-sizing: border-box; margin:0; padding:0;}
h3{text-align:center;}
#header{background-color: #2b3c4a;}
#logo{font-size:30px; font-family: "Rockwell Extra Bold", serif; text-transform: uppercase; color: #d3d3d3;}
#header-menu{margin-left:auto;}
.sticky-top{position:sticky;}
#language{flex-direction: row; display:flex; margin-left:70px; color:#ffffff;}

#firts-part{margin:0; padding:0; height:360px;}
#firts-part img{object-fit:cover; height:360px; width:100%;}

.second-part{background-color: #c8c8c8; padding:30px 0;}
.row{margin:0;}
.image-card{width:300px; height:300px; margin:0 auto 20px; position:relative;}
.image-card img{height:300px; width:300px; object-fit: cover;}
.image-card span{position:absolute; bottom:0; right:0; width:100%; color:#ffffff; text-align:center; background-color: rgba(0,0,0,0.8)}
/*.second-part{width:310px; height:350px; border:1px solid #00315a; border-radius: .25rem; position:relative; margin:auto;}
.second-part img{width:310px; height:350px; object-fit: cover;}
.second-part span{position:absolute; bottom:0; right:0; width:100%; text-align:center; background-color: rgba(0,0,0,0.8)}
*/
#intro{margin: 50px ; }
footer{background-color: #8b2900;}
#footer-menu{padding: 15px 0}
.footer-text{flex-direction: row; display:flex;}
.footer-text a.nav-link{padding:0 5px; color:#ffffff;}
@media (min-width:992px){
}
@media (min-width:768px) and (max-width: 991px){
}
@media (max-width:767px){
}